// Bg colors
$primary-bg: #ffffff;
$secondary-bg: #F5F5DC;
$dark-bg: #452B1F;
$special-bg: #F7DC6F;

// Text colors
$primary-color: #fff;
$secondary-color: #F7DC6F;
$dark-color: #000;
$halfdark-color: #808080;

$border-color: #452B1F;